*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.hidden{
    overflow: hidden;
}

section{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
    
}

section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section a{
    display: inline-block;
    padding: 7px 0;
    color: #283628;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
}

section p{
    font-weight: 300;
    margin-bottom: 15px;
}

section img{
    height: 60%;
}
 

.Espacio{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);;
}

.Espacio2{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.Espacio3{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

html{
    scroll-behavior: smooth;
}

.img{
    animation: ilustrationAnimate ease-in 2s infinite alternate;
}

@keyframes ilustrationAnimate{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.2);
    }
}

.centrado{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }